extends adminbase.pug
block css
  link(rel="stylesheet", href="/css/admin/verses.css")
block content
  h2 Versos
  for verse in verses
    .verse
      p #{verse.author}
      p #{verse.approved === true ? "Aprobado": "No aprobado"}
      hr
  
  div.nav
    if (prevPage >= 1 )
      a(href=`/admin/verse?page=${prevPage}`) #{prevPage}
    
    p(style="cursor:not-allowed;") #{currentPage}

    if (currentPage < totalPages)
      a(href=`/admin/verse?page=${nextPage}`) #{nextPage}
    else
      p(style="cursor:not-allowed;") #{nextPage}